

NET "clk" LOC = B8;
NET "clr" LOC = B18;
NET "input1[3]" LOC = R17;
NET "input1[2]" LOC = N17;
NET "input1[1]" LOC = L13;
NET "input1[0]" LOC = L14;
NET "input2[3]" LOC = K17;
NET "input2[2]" LOC = K18;
NET "input2[1]" LOC = H18;
NET "input2[0]" LOC = G18;


NET "input3[3]" LOC = B4;
NET "input3[2]" LOC = A4;
NET "input3[1]" LOC = C3;
NET "input3[0]" LOC = C4;
NET "input4[3]" LOC = B6;
NET "input4[2]" LOC = D5;
NET "input4[1]" LOC = C5;
NET "input4[0]" LOC = F7;
NET "anode_sig[3]" LOC = A6;
NET "anode_sig[2]" LOC = C7;
NET "anode_sig[1]" LOC = F8;
NET "anode_sig[0]" LOC = D7;
NET "a" LOC = E8;
NET "b" LOC = E9;
NET "c" LOC = C9;
NET "d" LOC = A8;
NET "e" LOC = G9;
NET "f" LOC = F9;
NET "g" LOC = D10;

# PlanAhead Generated physical constraints 

NET "clock[14]" LOC = E7;
