//! **************************************************************************
// Written by: Map P.58f on Mon Nov 18 17:34:08 2013
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "G14" LEVEL 1;
COMP "f" LOCATE = SITE "J17" LEVEL 1;
COMP "g" LOCATE = SITE "H14" LEVEL 1;
COMP "switches<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "dispense" LOCATE = SITE "J14" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "N17" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "R17" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "coins<0>" LOCATE = SITE "D18" LEVEL 1;
COMP "coins<1>" LOCATE = SITE "E18" LEVEL 1;
COMP "coins<2>" LOCATE = SITE "H13" LEVEL 1;
COMP "reset" LOCATE = SITE "B18" LEVEL 1;
COMP "a" LOCATE = SITE "L18" LEVEL 1;
COMP "b" LOCATE = SITE "F18" LEVEL 1;
COMP "c" LOCATE = SITE "D17" LEVEL 1;
COMP "d" LOCATE = SITE "D16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

