


NET "a" LOC = L18;
NET "b" LOC = F18;
NET "c" LOC = D17;
NET "d" LOC = D16;
NET "e" LOC = G14;
NET "f" LOC = J17;
NET "g" LOC = H14;

NET "reset" LOC = B18;

NET "anodes[3]" LOC = F15;
NET "anodes[2]" LOC = C18;
NET "anodes[1]" LOC = H17;
NET "anodes[0]" LOC = F17;
NET "switches[3]" LOC = R17;
NET "switches[2]" LOC = N17;
NET "switches[1]" LOC = L13;
NET "switches[0]" LOC = L14;
NET "clk" LOC = B8;


NET "coins[2]" LOC = H13;
NET "coins[1]" LOC = E18;
NET "coins[0]" LOC = D18;

NET "dispense" LOC = J14;
