//! **************************************************************************
// Written by: Map P.58f on Mon Nov 25 15:15:31 2013
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "G14" LEVEL 1;
COMP "f" LOCATE = SITE "J17" LEVEL 1;
COMP "g" LOCATE = SITE "H14" LEVEL 1;
COMP "Aout<0>" LOCATE = SITE "G9" LEVEL 1;
COMP "Aout<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "Aout<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "Aout<3>" LOCATE = SITE "E9" LEVEL 1;
COMP "A<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "A<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "A<2>" LOCATE = SITE "N17" LEVEL 1;
COMP "A<3>" LOCATE = SITE "R17" LEVEL 1;
COMP "B<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "B<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "B<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "B<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "P<0>" LOCATE = SITE "E12" LEVEL 1;
COMP "clk_out" LOCATE = SITE "B16" LEVEL 1;
COMP "P<1>" LOCATE = SITE "F11" LEVEL 1;
COMP "P<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "P<3>" LOCATE = SITE "C11" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "P<4>" LOCATE = SITE "B11" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "P<5>" LOCATE = SITE "E10" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "P<6>" LOCATE = SITE "D11" LEVEL 1;
COMP "P<7>" LOCATE = SITE "A11" LEVEL 1;
COMP "Bout<0>" LOCATE = SITE "B10" LEVEL 1;
COMP "Bout<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "Bout<2>" LOCATE = SITE "D10" LEVEL 1;
COMP "Bout<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "reset" LOCATE = SITE "B18" LEVEL 1;
COMP "a" LOCATE = SITE "L18" LEVEL 1;
COMP "b" LOCATE = SITE "F18" LEVEL 1;
COMP "c" LOCATE = SITE "D17" LEVEL 1;
COMP "d" LOCATE = SITE "D16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

