
# PlanAhead Generated physical constraints 

NET "rst" LOC = H13;
NET "c1[3]" LOC = B4;
NET "c1[2]" LOC = A4;
NET "c1[1]" LOC = C3;
NET "c1[0]" LOC = C4;
NET "cout" LOC = B6;
NET "sum" LOC = D5;
NET "clk" LOC = C5;
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;